{% extends 'layout/layout-two-cols-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block--page-view">
        <div class="block-content">
            <h2 class="field field-title">{{ page.title }}</h2>
            <div class="field field-body">{{ page.body }}</div>
            <div class="field field-category">{{ page.category.name }}</div>
            <div class="field field-created">{{ page.created|date('d-m-Y') }}</div>

{#            <div class="field field-comments">{{ include('@comment/list.html.twig', {'items' : page.comments }) }}</div>#}

            <div class="field field-comments">
                <div class="comment-preview">
                    <h2 class="comment-title"> Comments : </h2>
                    {{ form(comment_form) }}
                    <div class="list">
                        {% for item in page.comments %}
                            <div class="list-item">
                                {{ include('@comment/views/teaser.html.twig', { 'item' : item }) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
